.board {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__status {
		margin-bottom: 20px;
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
}
